<h1> Plots Index </h1>

<% @plots.each do |plot| %>
  <p> Plot Number: <%= plot.number %> </p>
  <% plot.plants.each do |plant| %>
    <p> Plant Name: <%= plant.name %> <%= link_to "Remove #{plant.name}", "plots/#{plot.id}" %>  </p>
  <% end %>
<% end %>
